.layout {
  min-height: 100vh;
}

.layoutHeader {
  padding: 0;
}

.contentWrapper {
  margin: 0 2rem;
  padding-block: 1.25rem;
}

.sidebarHeader {
  height: 4rem;
  display: flex;
  align-items: center;
  margin-block-end: 0.5rem;
}

.logoWrapper {
  height: 3rem;
  margin-inline-start: 1.5rem;
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
