:root {
  --primary-color: #0f1929;
  --primary-color-100: rgba(7, 82, 109, 0.35);
  --primary-text-color: #0f1929;

  --error-color: #ff3333;

  --font-size-base: 14px;
  --border-radius-base: 4px;
}
