:root {
  --primary-color: #0f1929;
  --primary-color-100: rgba(0, 0, 0, 0.15);

  --primary-text-color: #0f1929;
  --text-inverse: #fff;

  --error-color: #ff3333;

  --font-size-base: 14px;
  --border-radius-base: 4px;
}
